<script setup>
</script>

<template>
    <h1>INI HOME</h1>
    <ul>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
    </ul>
</template>