<script setup>
</script>

<template>
    <div id="header">
        <div class="splide header">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="../assets/img/header/gambar.png" class="img-head-splide" alt="img">
                        <div class="centered">
                            <h2>ANDMESH KAMALENG</h2>
                            <h3>Singer</h3>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <img src="../assets/img/header/gambar-2.png" class="img-head-splide" alt="img">
                        <div class="centered">
                            <h2>ABI RAFDHI</h2>
                            <h3>Singer</h3>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <img src="../assets/img/header/gambar-3.png" class="img-head-splide" alt="img">
                        <div class="centered">
                            <h2>ANWAR BAB</h2>
                            <h3>Comedian</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style>
    #header {
        margin-top: 70px;
    }

    #header img.img-head-splide {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
    }

    #header .centered {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0, 0.7);
        text-align: center;
        padding: 20px 50px;
        border-radius: 12px;
        width: 350px;
    }

    #header h2 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    #header h3 {
        color: #fff;
        font-size: 16px;
    }

    #header p {
        color: #fff;
    }

    @media screen and (max-width:1023px) {
        #header img.img-head-splide {
            display: block;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            height: auto;
            min-width: 0;
            min-height: 0
        }
        #header .centered {
            position: relative;
            bottom: -45px;
            left: 50%;
            border-radius: 0;
            width: 100%;
        }
        #header h2 {
            color: #fff;
            font-size: 16px;
        }
        #header h3 {
            color: #fff;
            font-size: 14px;
        }
        #header p {
            color: #fff;
            font-size: 14px;
        }
    }
</style>