<script setup>
</script>

<template>

<div id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" aria-label="Fifth navbar example">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/navbar/sha-logo.png" class="logo" alt="img" width="150" height="42">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                    <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link" href="#talent">TALENT</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link" aria-current="page" href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link" aria-current="page" href="#class">CLASS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link" href="#join">SCHEDULE</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link" aria-current="page" href="#join">EVENT</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link" href="#contact">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</template>

<style>
#nav .navbar {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

#nav img.logo {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
}

#nav .nav-link {
    color: #444444;
    font-weight: 600;
    font-size: 14px;
}
</style>